* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-header {
  background: transparent;
  border-bottom: none;
}

.product__img {
  width: 200px;
  height: 200px;
  transition: 0.3s ease-in;
}

.product__img:hover {
  transform: translateY(-10px);
}

.card-title {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 300;
}

.card-text {
  font-size: 16px;
  color: red;
  font-weight: 700;
}

#tongSP {
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  background-color: red;
  padding: 5px 10px;
  font-size: 10px;
  top: -10px;
  right: -10px;
  color: white;
}

#loading {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
